.reposInfo {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 80vw;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .reposInfo {
    grid-template-columns: 95vw;
    margin-top: 1rem;
  }
}
