@value mainBkg: #f9f9f9; /*super light blue-white*/
@value codeBkg: #f3f4f4; /*light blue-white*/
@value borderColor: #E1E1E1; /*lightGrey*/
@value brownOrange: #dd6e42; /*used in toggleBtn(@issue) and submitBtn(@Navbar)*/
@value mainDarkBlue: #4f6d7a;
@value superDarkBlue: #1d3557;

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

body {
  background: mainBkg;
}

h1 {
  color: mainDarkBlue;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

pre {
  background: codeBkg;
  padding: 10px;
  margin: 5px;
  border: 1px #bcb8b1 solid;
  overflow: auto;
  color: superDarkBlue;
}

code {
  color: superDarkBlue;
  background: codeBkg;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}
