@value colors: "../../index.css";
@value issueBkg, issueBorder from colors;

.normalIssue {
  cursor: pointer;
  border-top: 1px issueBorder solid;
  background-color: issueBkg;
  padding: 5px;
  z-index: 1;
  position: relative;
  /*The z-index attribute can only be used on positioned elements (absolute, relative or fixed).*/
}

.issueText {
  padding: 5px 5px 10px 5px;
  background-color: issueBkg;
}

.roundedBottom {
  border-radius: 0 0 15px 15px;
}

.roundedIssue {
  composes: normalIssue roundedBottom;
}

.dataWrapper {
  composes: roundedBottom;
  border: 1px issueBorder solid;
  border-top: none;
  z-index: 1;
  position: relative;
}
