@value colors: "../../index.css";
@value issueBkg, issueBorder, submitBtnActive, commentBkg from colors;

.roundedBottom {
  border-radius: 0 0 15px 15px;
}

.normalIssue {
  cursor: pointer;
  border-top: 1px issueBorder solid;
  background-color: issueBkg;
  padding: 5px;
  z-index: 1;
  position: relative;
  /*The z-index attribute can only be used on positioned elements (absolute, relative or fixed).*/
}

.roundedIssue {
  composes: normalIssue roundedBottom;
}

.issueText {
  padding: 5px 5px 10px 5px;
  background-color: issueBkg;
}

.dataWrapper {
  composes: roundedBottom;
  border: 1px issueBorder solid;
  border-top: none;
  z-index: 1;
  position: relative;
}

.showLessBtn {
  color: submitBtnActive;
}

.showLessBtn:hover {
  color: #e63946;
}
.showLessBtnWrapper {
  padding: 5px;
  background-color: commentBkg;
  display: flex;
  justify-content: flex-end;
}

.roundedShowLessBtnWrapper {
  composes: showLessBtnWrapper roundedBottom;
}
