@value colors: "../../index.css";
@value borderColor, brownOrange from colors;

.issueWrapper {
  background-color: white;
  border: 1px borderColor solid;
  margin: 5px 0;
  padding: 5px 15px;
}

.issueDetailsWrapper {
  padding-left: 50px; /*size of img and its margin*/
  display: flex;
  flex-direction: column;
}

.issueText {
  padding: 10px 0;
}

.btnWrapper {
  align-self: flex-end;
  color: orangered;
}

.toggleBtn {
  color: brownOrange;
  align-self: flex-end;
}

.toggleBtn:hover {
  color: #e63946;
}

.toggleBtnDisabled {
  color: grey;
  cursor: text;
}

@media only screen and (max-width: 640px) {
  .issueDetailsWrapper {
    padding-left: 35px; /*photo size*/
  }

  .issueWrapper {
    padding: 5px;
  }
}
