@value colors: "../../index.css";
@value borderColor, mainBkg from colors;

.tapWrapper {
  margin: 1rem 0;
  border-bottom: 3px solid #96cbef;
}

.normalTap {
  color: rgb(145, 144, 144);
  border: 1px solid borderColor;
  border-bottom: none;
  width: calc(50% / 3);
  padding: 10px 0;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}

.activeTab {
  composes: normalTap;
  font-weight: 700;
  background: #96cbef;
  color: mainBkg;
  border: 1px solid #96cbef;
  border-bottom: none;
}

@media only screen and (max-width: 640px) {
  .normalTap {
    width: calc((100% / 3) - 5px);
  }
}
