@value colors: "../../index.css";
@value tabText, tabBorder, tabBorderActive from colors;

.tapWrapper {
  margin-top: 1rem;
}

.normalTap {
  color: tabText;
  border: 1px solid tabBorder;
  border-bottom: none;
  width: calc(100% / 3);
  padding: 5px 0 15px;
  position: relative;
  top: 10px;
  font-weight: 200;
  transition: 0.2s ease all;
  border-radius: 15px 15px 0 0;
}

.activeTab {
  composes: normalTap;
  font-weight: 700;
  border: 1px solid tabBorderActive;
  border-bottom: none;
  transform: translateY(-10px);
}
