@value colors: "../../index.css";
@value borderColor from colors;

.commentsWrapper {
  padding: 5px;
  background: white;
}

.commentText {
  color: #495057; /*dark-grey only used here*/
  padding-left: 50px;
}

.eachCommentWrapper {
  border-top: solid borderColor 1px;
  padding: 5px 0;
  margin-top: 15px;
}
