.reposInfo {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tap_wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1rem;
}

.tap {
  color: #5e0b15;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  width: 100%;
  padding: 5px 0;
  font-weight: 200;
}

.active_tab {
  font-weight: 700;
}
